{{#each post}}
<div class="col">
  <div class="card text-bg-light mb-3">
    <div class="card-body">
      <h2>
        <a href="/post/{{id}}">{{title}}</a>
      </h2>
      <div class="card-subtitle">
        <p>Created by <a href="/reviews/{{requester_id}}">{{ requester.requester_name}}</a> on {{format_date
          created_at}}
        </p>
      </div>
      <div class="card-text">
        <p>
          {{content}}
        </p>
      </div>
    </div>
  </div>
</div>
{{/each}}