{{#each post}}
<div class="col">
  <div class="card text-bg-light mb-3">
    <div class="card-body">
      <h2 class="listing-title">
        <a href="/post/{{id}}">{{title}}</a>
      </h2>
      <div class="card-subtitle">
        {{#if loggedIn}}
        <p>Created by <a href="/reviews/{{requester_id}}">{{ requester.requester_name}}</a> on {{format_date created_at}}</p>
          {{else}}
       <p>Created by {{ requester.requester_name}}on {{format_date created_at}}
      {{/if}}
      </div>
      <div class="card-text">
        <p>
          {{content}}
        </p>
      </div>
    </div>
  </div>
</div>
{{/each}}
