<article>
  <a href="/profile"> &larr; Back to dashboard</a>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h3>Accepted Listings:</h3>
      <div class="row mt-3 row-cols-2 row-cols-md-1 g-2">
        {{#each acceptedPost}}

        <div class="col">
          <div class="card h-100 text-bg-light mb-3">
            <div class="card-body">
              <h2 class="listing-title">
                <a href="/post/{{id}}">{{title}}</a>
              </h2>
              <div class="card-subtitle">
                <p>Created by <a class="listing-user" href="/reviews/{{requester_id}}">{{ requester.requester_name}}</a>
                  on {{created_at}}
                </p>
              </div>
              <div class="card-text">
                <p>
                  {{content}}
                </p>
              </div>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</article>