

<div class="row mb-4 blog" >
  <div class="col-md-5" >
    <h2>
      
     
      <a href="/chorebuddy/{{chorebuddy.id}}">{{chorebuddy.chorebuddy_title}}</a>
    </h2>
  
    <p>Created by {{chorebuddy.user.username}} on {{format_date chorebuddy.date_created}}</p> 
  </div>
  <div class="col-md-7">
    <p>
      {{chorebuddy.description}}
    </p>
  </div>
</div>
{{/each}}

